<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484379421838-mmsoo2ca1ghk267amvlg5gpv1tc9tuhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484379421838-mmsoo2ca1ghk267amvlg5gpv1tc9tuhs</string>
	<key>API_KEY</key>
	<string>AIzaSyDMORuPUPuKspnL7SXRap4DftoEyPHdWxo</string>
	<key>GCM_SENDER_ID</key>
	<string>484379421838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.controlcondo.ios</string>
	<key>PROJECT_ID</key>
	<string>controlcondo-cb11c</string>
	<key>STORAGE_BUCKET</key>
	<string>controlcondo-cb11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484379421838:ios:95847eb2a9b34aaa</string>
	<key>DATABASE_URL</key>
	<string>https://controlcondo-cb11c.firebaseio.com</string>

</dict>
</plist>