@charset "UTF-8";
/* CSS Document */

/********************************SYSTEM*****************************************************/
body, html {
	width:100%;
	height:100%;
	margin:0;
	float:left;
	font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif ;
}

input, textarea {
	outline:none;
}

#bg_processando {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1001;
 	background: url(../img/gif.gif) no-repeat center center fixed #FFFFFF;
	background-size:50%;
	display:none;
}


#bg_box {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1001;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.7);
	display:none;
}

#bg_box2 {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1001;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.7);
	display:none;
}

#bg_box #erro_msg {
	width:80%;
	height:6%;
	float:left;
	margin:60% 0 0 10%;
	background-color:#F00;
	border-radius:5px;
	color:#FFF;
	text-align:center;
	padding:4% 0 0 0;
	display:none;
}

#bg_box2 form {
	width:80%;
	height:28%;
	float:left;
	margin:40% 0 0 10%;
	background-color:#FFF;
	border-radius:5px;
	color:666;
}

#bg_box2 form label {
	width:92%;
	float:left;
	margin:5% 0 0 4%;
	padding:1%;
}

#bg_box2 form input[type=text] {
	width:89%;
	height:20px;
	float:left;
	margin:5% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#bg_box2 form a {
	float:right;
	margin:5% 5% 0 0;
	padding:2%;
}

#topo {
	width:100%;
	height:10%;
	float:left;
	margin:0 0 0 0;
	background-color:#3750a2;
}

#topo img {
	width:35%;
	float:left;
	margin:1.5% 0 0 2.5%;
}

#topo #help {
	width:10%;
	height:100%;
	float:right;
	margin:0 2.5% 0 0;
	background-image:url(../img/help.png);
	background-size:90%;
	background-position:center center;
	background-repeat:no-repeat;
}

.pagina {
	width:100%;
	height:100%;
	margin:0;
	float:left;
	display:none;
	color:#666;
}

.topo_sub {
	width:100%;
	height:10%;
	float:left;
	margin:0;
	background-color:#3750a2;
	color:#FFF;
}

.topo_sub img {
	width:10%;
	float:left;
	margin:1.5% 0 0 2.5%;
}

.topo_sub span {
	width:75%;
	float:left;
	margin:3.5% 0 0 8%;
}

.scroll {
	width:100%;
	height:90%;
	margin:0;
	overflow:auto;
	float:left;
}

/*****************************************botao switch************************************************/
/* Estilo iOS */
.switch__container {
  float:right;
  margin: 0 0 0 0;
  width: 40px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 20px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #EBEBEB;
  border-radius: 20px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #3750a2;
}
.switch--shadow:checked + label:after {
  transform: translateX(20px);
}

/********************************LOGIN******************************************************/
.login_ini {
	width:100%;
	height:100%;
	float:left;
	margin:0;
	background-image:url(../img/bg_login.jpg);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
/*	display:none;
*/}

#login_ini img {
	width:30%;
	float:left;
	margin:7% 0 0 35%;
}

#login_ini form {
	width:90%;
	height:50%;
	float:left;
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.7);
	margin:5% 0 0 5%;
}

#login_ini form #login {
	width:79%;
	height:15%;
	float:left;
	margin:6.5% 0 0 5%;
	border-left:1px solid #4678d2;
	border-top:1px solid #4678d2;
	border-bottom:1px solid #4678d2;
	border-right:none;
	text-align:center;
	color:#33a2d9;
	font-size:18px;
	border-radius: 5px 0 0 5px;
}

#login_ini form #login2 {
	width:10%;
	height:15.8%;
	float:left;
	margin:6.5% 0 0 0;
	border-left:none;
	border-top:1px solid #4678d2;
	border-bottom:1px solid #4678d2;
	border-right:1px solid #4678d2;
	text-align:center;
	color:#33a2d9;
	font-size:18px;
	border-radius: 0 5px 5px 0;
	background-color:#FFF;
	background-image:url(../img/user3.png);
	background-size:25px;
	background-position:center center;
	background-repeat:no-repeat;
}

#login_ini form #senha {
	width:79%;
	height:15%;
	float:left;
	margin:6.5% 0 0 5%;
	border-left:1px solid #4678d2;
	border-top:1px solid #4678d2;
	border-bottom:1px solid #4678d2;
	border-right:none;
	text-align:center;
	color:#33a2d9;
	font-size:18px;
	border-radius: 5px 0 0 5px;
}

#login_ini form #senha2 {
	width:10%;
	height:15.7%;
	float:left;
	margin:6.5% 0 0 0;
	border-left:none;
	border-top:1px solid #4678d2;
	border-bottom:1px solid #4678d2;
	border-right:1px solid #4678d2;
	text-align:center;
	color:#33a2d9;
	font-size:18px;
	border-radius: 0 5px 5px 0;
	background-color:#FFF;
	background-image:url(../img/key.png);
	background-size:25px;
	background-position:center center;
	background-repeat:no-repeat;
}

#login_ini form #entrar {
	width:90%;
	height:15%;
	text-align:center;
	font-size:18px;
	color:#FFF;
	background-color:#4678d2;
	border:none;
	margin:6.5% 0 0 5%;
	float:left;
	border-radius: 5px;
	cursor:pointer;
}

#login_ini form #esqueci {
	width:90%;
	height:15%;
	text-align:center;
	font-size:18px;
	color:#FFF;
	background-color:#3dd40a;
	border:none;
	margin:6.5% 0 0 5%;
	float:left;
	border-radius: 5px;
	cursor:pointer;
}

#login_ini #texto_login {
	width:80%;
	color:#FFF;
	float:left;
	margin:8% 0 0 10%;
	text-align:center;
	font-size:24px;
}

/********************************LOGIN******************************************************/
#login_perfil {
	width:100%;
	height:100%;
	float:left;
	margin:0;
	background-image:url(../img/bg_login.jpg);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center center;
	display:none;
}

#login_perfil img {
	width:30%;
	float:left;
	margin:7% 0 0 35%;
}

#login_perfil form {
	width:90%;
	height:50%;
	float:left;
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.7);
	margin:5% 0 0 5%;
}

#login_perfil form select {
    width: 100%;
    height: 35px;
    float: left;
    margin: 5% 0 0 0;
}

#login_perfil form #entrar {
	width:90%;
	height:15%;
	text-align:center;
	font-size:18px;
	color:#FFF;
	background-color:#4678d2;
	border:none;
	margin:6.5% 0 0 5%;
	float:left;
	border-radius: 5px;
	cursor:pointer;
}

#login_perfil #texto_login {
	width:80%;
	color:#FFF;
	float:left;
	margin:8% 0 0 10%;
	text-align:center;
	font-size:24px;
}

/********************************HOME*******************************************************/
#home {
	width:100%;
	height:100%;
	margin:0;
	float:left;
	display:none;
}

#home #fast_menu {
	width:100%;
	height:10%;
	float:left;
	margin:0;
	background-color:#FFF;
	border-bottom:1px solid #d2d1d6;
}

#home #fast_menu #item_fast_menu {
	width:25%;
	height:100%;
	float:left;
	margin:0;
}

#home #fast_menu #item_fast_menu img {
	width:30%;
	display:table;
	margin:auto;
	margin-top:16%;
}
	
#home #corpo {
	width:100%;
	height:79.5%;
	margin:0;
	float:left;
}

#home .swiper-container .swiper-slide {
	font-size: 18px;
	background: #fff;
	float:left;
        
	/* Center slide text vertically */
/*	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
*/}

#home #corpo #notificacoes {
	background-color:#F5F5F5;
	overflow:auto;
	color:#666;
}

#home #corpo #notificacoes .notificacao {
	width:96%;
	float:left;
	margin:2% 0 0 2%;
	border-radius:5px;
	background-color:#FFF;
}

#home #corpo #notificacoes .notificacao .noti_titulo {
	width:96%;
	float:left;
	border-bottom:1px solid #F5F5F5;
	margin:2% 0 0 2%;
}

#home #corpo #notificacoes .notificacao .noti_titulo .noti_tipo {
	width:70%;
	float:left;
	margin:1% 0 0 0;
	font-size:14px;
}

#home #corpo #notificacoes .notificacao .noti_titulo .noti_icone {
	width:30px;
	height:30px;
	float:right;
	border-radius:15px;
	background-color:#0CF;
	background-image:url(../img/notificacao.png);
	background-position:center center;
	background-size:80%;
	background-repeat:no-repeat;
	margin:0 0 2% 0;
}

#home #corpo #notificacoes .notificacao .noti_corpo {
	width:96%;
	float:left;
	margin:2% 0 0 2%;
}

#home #corpo #notificacoes .notificacao .noti_corpo .comunicado {
	width:97%;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado {
	width:100%;
	float:left;
	margin:0;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado .morador_foto {
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado strong {
	width:70%;
	float:left;
	margin:0 0 0 2%;
	font-size:14px;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado .criou {
    width:70%;
	float:left;
	margin:0 0 0 2%;
	font-size:14px;
    color:#D6D6D6;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado .grupo {
	float:left;
	margin:0 0 0 2%;
	background-color:#3750a2;
	font-size:9px;
	padding:3px 4px 2px 4px;
	text-align:center;
	color:#FFF;
	border-radius:5px;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado span {
	width:60%;
	float:left;
	margin:2% 0 0 2%;
	color:#53c7ec;
	font-size:12px;
}

#home #corpo #notificacoes .notificacao .noti_corpo .topo_comunicado img {
	width:15px;
	float:right;
	margin:2% 2% 0 0;
}

#home #corpo #notificacoes .notificacao .noti_corpo .comunicado .comunicado_titulo {
	width:96%;
	float:left;
	margin:2% 0 0 2%;
	font-size:14px;
	color:#53c7ec;
}

#home #corpo #notificacoes .notificacao .noti_corpo .comunicado p {
	width:96%;
	float:left;
	margin:1% 0 1% 2%;
	font-size:12px;
    overflow:hidden !important;
	color:#666;
}

#home #corpo #notificacoes .notificacao .noti_corpo .comunicado a {
	width:96%;
	float:left;
	margin:1% 0 1% 2%;
	font-size:14px;
}

#home #corpo #notificacoes .notificacao .noti_corpo .enquete {
	width:97%;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#home #corpo #notificacoes .notificacao .noti_corpo .enquete .enquete_foto_morador{
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#home #corpo #notificacoes .notificacao .noti_corpo .enquete .enquete_morador{
	width:70%;
	float:left;
	margin:3% 0 0 2%;
	font-size:14px;
}

#home #corpo #notificacoes .notificacao .noti_corpo .enquete img {
	width:15px;
	float:right;
	margin:2% 2% 0 0;
}


#home #corpo #notificacoes .notificacao .noti_corpo .enquete .grupo {
	float:left;
	margin:1% 0 0 2%;
	background-color:#3750a2;
	font-size:9px;
	padding:3px 4px 2px 4px;
	text-align:center;
	color:#FFF;
	border-radius:5px;
}


#home #corpo #notificacoes .notificacao .noti_corpo .enquete .enquete_titulo { 
	width:100%;
	float:left;
	margin:2% 0 0 2%;
}

#home #corpo #notificacoes .notificacao .noti_corpo .enquete .enquete_votos { 
	width:100%;
	float:left;
	margin:2% 0 0 2%;
	font-size:14px;
	color:#4167b2;
}

#home #corpo #notificacoes .notificacao .noti_corpo .enquete .enquete_periodo { 
	width:100%;
	float:left;
	margin:2% 0 2% 2%;
	font-size:14px;
}

#home #corpo #notificacoes .notificacao .noti_corpo .documento {
	width:97%;
	height:80px;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#home #corpo #notificacoes .notificacao .noti_corpo .documento .documento_foto{
	width:40px;
	height:40px;
	float:left;
	margin:20px 0 0 2%;
	border-radius:50%;
	background-repeat:no-repeat;
	background-size:70%;
	background-position:center center;
}

#home #corpo #notificacoes .notificacao .noti_corpo .documento strong {
	width:69%;
	float:left;
	margin:6% 0 0 2%;
}

#home #corpo #notificacoes .notificacao .noti_corpo .documento span {
	width:69%;
	float:left;
	margin:0 0 0 2%;
	font-size:12px;
	color:#999;
}

#home #corpo #notificacoes .notificacao .noti_corpo .documento a {
	width:40px;
	height:40px;
	float:right;
	margin:-20px 2% 0 0;
	background-repeat:no-repeat;
	background-size:70%;
	background-position:center center;
	background-image:url(../img/download.png);
}

#home #corpo #fale {
	background-color:#F5F5F5;
}

#home #corpo #fale #fale_user {
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    background-color: darksalmon;
}

#home #corpo #fale #fale_user #busca_chat {
    width: 90%;
    height: 35px;
    float: left;
    margin: 5px 0 0 5%;
}

#home #corpo #fale #fale_user #busca_chat input[type=text]{
    width: 80%;
    height: 35px;
    float: left;
    margin: 0;
}

#home #corpo #fale #fale_user #busca_chat input[type=button]{
    width: 20%;
    height: 35px;
    float: left;
    margin: 0;
}

#home #corpo #fale #fale_user #fale_usuarios{
    width: 90%;
    height: 80%;
    float: left;
    margin: 5px 0 0 5%;
    overflow: auto;
}

#home #corpo #fale #fale_user #fale_usuarios .fale_usuario{
    width: 100%;
    height: 40px;
    float: left;
    margin: 5px 0 0 0;
    background-color: aqua;
}

#home #corpo #fale #fale_user #fale_usuarios .fale_usuario .morador_foto {
	width:30px;
	height:30px;
	float:left;
	margin:2.5px 0 0 2.5px;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}


#home #corpo #fale #fale_user #fale_usuarios .fale_usuario span{
    width: 60%;
    height: 40px;
    float: left;
    margin: 0;
}

#home #corpo #fale #fale_user #fale_usuarios .fale_usuario #msg_n_lida{
    width: 20px;
    height: 20px;
    float: left;
    margin: 7.5px 0 0 0 ;
    background-color: red;
    color: white;
}

#home #corpo #fale #fale_msg {
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    display: none;
}

#home #corpo #fale #fale_msg #fale_msg_user {
	width:100%;
	height:35px;
	float:left;
	margin:0;
}

#home #corpo #fale #fale_msg #fale_msg_user #fale_msg_user_volta {
	width:30px;
	height:30px;
	float:left;
	margin:2.5px 0 0 2.5px;
}

#home #corpo #fale #fale_msg #fale_msg_user #fale_msg_user_foto {
	width:30px;
	height:30px;
	float:left;
	margin:2.5px 0px 0px 2.5px;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#home #corpo #fale #fale_msg #fale_msg_user #fale_msg_user_nome {
	width:70%;
	height:30px;
	float:left;
	margin:2.5px 0px 0px 2.5px;
}


#home #corpo #fale #fale_msg #historico {
	width:100%;
	height:76%;
	float:left;
	margin:0;
	overflow:auto;
}

#home #corpo #fale #fale_msg #historico .enviado {
    max-width: 90%;
    min-width: 55%;
	float:right;
	margin:5px 5px 0px 0px;
    background-color: #dcf9c6;
    border-radius: 5px;
}

#home #corpo #fale #fale_msg #historico .recebido {
    max-width: 90%;
    min-width: 55%;
	float:left;
	margin:5px 0px 0px 5px;
    background-color: #fff;
    border-radius: 5px;
}


#home #corpo #fale #fale_msg form {
	width:96%;
	height:35px;
	position:absolute;
	bottom:2%;
	margin:0;
}

#home #corpo #fale #fale_msg form textarea {
	width:75%;
	height:22px;
	float:left;
	margin:0 0 2% 2%;
	border:none;
	border-radius:100px;
	font-size:18px;
	padding:8px;
}

#home #corpo #fale #fale_msg form input[type=button] {
	width:37px;
	height:37px;
	float:right;
	margin:0;
	background-color:#8c72cd;
	border:none;
	border-radius:50%;
	background-image:url(../img/send.png);
	background-size:70%;
	background-repeat:no-repeat;
	background-position:center center;
}

/*#home #corpo #config {
	background-color:#FFF;
	color:#666;
}

#home #corpo #config strong {
	width:100%;
	float:left;
	margin:6% 0 4% 0;
	font-size:16px;
	text-align:center;
}

#home #corpo #config .configura {
	width:80%;
	float:left;
	margin:4% 0 0 10%;
}

#home #corpo #config .configura span {
	width:70%;
	float:left;
	margin:0 0 0 0;
	font-size:16px;
}*/

#home #corpo #liberacao {

	background-color:#FFF;
}

#home #corpo #liberacao .liberado {
	width:90%;
	height:75px;
	float:left;
	margin:1px 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	background-color:#F5F5F5;
}

#home #corpo #liberacao .liberado .liberado_foto{
	width:60px;
	height:60px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:2px solid #D6D6D6;
	background-color:#437efc;
}

#home #corpo #liberacao .liberado strong {
	width:70%;
	float:left;
	margin:6% 0 0 2%;
	font-size:18px;
}*

#home #corpo #menu {
	float:left;
	overflow:auto;
}

#home #corpo #menu #perfil {
	width:100%;
	height:16%;
	float:left;
	margin:0;
	background-color:#F5F5F5;
}

#home #corpo #menu #perfil .user_foto {
	width:50px;
	height:50px;
	float:left;
	margin:1.2% 0 0 2%;
	border-radius:50%;
	background-color:#3750a2;
	background-image:url(../img/user.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
}

#home #corpo #menu #perfil .perfil_nome {
	width:70%;
	height:60%;
	float:left;
	margin:2.5% 0 0 4%;
	color:#4678d2;
}

#home #corpo #menu #perfil .perfil_condominio {
	width:70%;
	height:60%;
	float:left;
	margin:2.5% 0 0 4%;
	color:#666;
}

#home #corpo #menu #perfil_edit {
	width:100%;
	height:80%;
	float:left;
	margin:0;
	display:none;		
}

#home #corpo #menu #perfil_edit .user_foto {
	width:140px;
	height:140px;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:3.8px solid #D6D6D6;
	background-color:#F5F5F5;
	display:table;
	margin:auto;
}

#home #corpo #menu #perfil_edit .perfil_nome {
	width:70%;
	float:left;
	margin:3% 0 3% 15%;
	color:#666;
	text-align:center;
	border-bottom: 1px solid #D6D6D6;
}

#home #corpo #menu #perfil_edit .grupo_edit {
	width:40%;
	float:left;
	margin:3% 0 0 27%;
	padding:3%;
	background-color:#3750a2;
	text-align:center;
	color:#FFF;
	border-radius:5px;
	font-size:12px;
	display:none;
}

#home #corpo #menu #perfil_edit .perfil_condominio {
	width:100%; 
	float:left; 
	margin:2% 0 0 0; 
	text-align:center;
	color:#666;
}

#home #corpo #menu #perfil_edit #bloco {
	width:30%;
	float:left;
	margin:2% 0 0 18%;
	text-align:right;
	color:#666;
}

#home #corpo #menu #perfil_edit #apto {
	width:30%;
	float:left;
	margin:2% 0 0 4%;
	color:#666;
}

#home #corpo #menu #perfil_edit .bt_perfil_edit {
	width:100%;
	height:20%;
	float:left;
	margin:0;
	color:#999;
}

#home #corpo #menu #perfil_edit #edit_moradores {
	display:none;
}

#home #corpo #menu #perfil_edit #troca_perfil {
	display:none;
}

#home #corpo #menu #perfil_edit .bt_perfil_edit #icone {
	width:40px;
	height:40px;
	float:left;
	margin:1.2% 0 0 2%;
	border-radius:50%;
	background-size:65%;
	background-position:center center;
	background-repeat:no-repeat;
}


#home #corpo #menu #perfil_edit .bt_perfil_edit span {
	width:70%;
	float:left;
	margin:5% 0 5% 5%;
}

#home #corpo #menu #perfil_abre {
	width:10%;
	height:9%;
	float:left;
	background-image:url(../img/expandir.png);
	background-size:95%;
	background-repeat:no-repeat;
	margin:0.5% 0 0 45%;
}

#home #corpo #menu #perfil_fecha {
	width:10%;
	height:9%;
	float:left;
	background-image:url(../img/retrair.png);
	background-size:95%;
	background-repeat:no-repeat;
	margin:0.5% 0 0 45%;
	display:none;
}

#home #corpo #menu .smenu {
	width:100%;
	height:15%;
	margin:1% 0 0 0;
	float:left;
}

#home #corpo #menu .smenu #icone {
	width:40px;
	height:40px;
	float:left;
	margin:1.2% 0 0 2%;
	border-radius:50%;
	background-size:70%;
	background-position:center center;
	background-repeat:no-repeat;
}

#home #corpo #menu .smenu span {
	width:78%;
	float:left;
	margin:4.5% 0 0 4%;
	color:#999;
}

#home #corpo #fim_corpo {
	width:10%;
	height:100%;
	display:inline-block;
	background-color:#CCC;
}

/********************************INFO*******************************************************/
#info p {
	width:90%;
	height:35%;
	float:left;
	font-size:14px;
	margin:5% 0 0 5%;
	text-align:justify;
}

#info form {
	width:90%;
	height:40%;
	float:left;
	margin:5% 0 0 5%;
}

#info form label {
	width:100%;
	height:10%;
	float:left;
	margin:0;
}

#info form textarea {
	width:100%;
	height:70%;
	float:left;
	margin:2.5% 0 0 -4px;
	border:2px solid #666;
	border-radius:5px;
}

#info form input[type=button] {
	width:25%;
	height:20%;
	float:right;
	margin:5% -4px 0 0;
	border:none;
	background-color:#3750a2;
	background-image:url(../img/send_mail.png);
	background-size:40%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:5px;
}

/********************************PERFIL*****************************************************/
/*#perfil2 {
	display:block;
}*/

#perfil2 form {
	width:100%;
	height:90%;
	float:left;
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
}

#perfil2 form label {
	width:92%;
	float:left;
	margin:2% 0 0 4%;
	padding:1%;
}

#perfil2 form input[type=text] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#perfil2 form input[type=date] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#perfil2 form input[type=radio] {
	width:5%;
	float:left;
	margin:2% 0 0 4%;
}

#perfil2 form img {
	width:10%;
	float:left;
	margin:0 0 0 1%;
}

#perfil2 form textarea {
	width:89%;
	height:15%;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#perfil2 form input[type=button] {
	width:92%;
	height:10%;
	float:left;
	margin:4% 0 4% 4%;
	border:none;
	background-color:#5cb4a6;
	background-image:url(../img/checked.png);
	background-size:10%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:5px;
}

#perfil2 form #contato_perfil_abre {
	width:20px;
	height:20px;
	float:right;
	background-image:url(../img/expandir2.png);
	background-size:95%;
	background-repeat:no-repeat;
	margin:0 4% 0 0;
}

#perfil2 form #contato_perfil_fecha {
	width:20px;
	height:20px;
	float:right;
	background-image:url(../img/retrair2.png);
	background-size:95%;
	background-repeat:no-repeat;
	margin:0 4% 0 0;
	display:none;
}

#perfil2 form #contato_perfil_box {
	width:90%;
	float:left;
	margin:4% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	background-color:#F5F5F5;
}

#perfil2 form #contato_perfil {
	width:100%;
	float:left;
	margin:0;
	display:none;
}

/********************************CONFIGORACOES**********************************************/

#config {
	/*background-color:#C3F;*/
	background-color:#FFF;
	color:#666;
}

#config strong {
	width:100%;
	float:left;
	margin:6% 0 4% 0;
	font-size:16px;
	text-align:center;
}

#config .configura {
	width:80%;
	float:left;
	margin:4% 0 0 10%;
}

#config .configura span {
	width:70%;
	float:left;
	margin:0 0 0 0;
	font-size:16px;
}


/********************************MORADORES**************************************************/
/*#moradores {
	display:block;
}
*/
#moradores .morador {
	width:90%;
	height:75px;
	float:left;
	margin:1px 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	background-color:#F5F5F5;
}

#moradores .morador .morador_foto{
	width:60px;
	height:60px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:2px solid #D6D6D6;
	background-color:#FFF;
}

#moradores .morador strong {
	width:70%;
	float:left;
	margin:4% 0 0 2%;
}

#moradores .morador span {
	width:70%;
	float:left;
	margin:0 0 0 2%;
}

#moradores form {
	width:100%;
	float:left;
	margin:0;
	display:none;
}

#moradores form label {
	width:92%;
	float:left;
	margin:2% 0 0 4%;
	padding:1%;
}

#moradores form input[type=text] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#moradores form input[type=radio] {
	width:5%;
	float:left;
	margin:2% 0 0 4%;
}

#moradores form img {
	width:10%;
	float:left;
	margin:0 0 0 1%;
}

#moradores form textarea {
	width:89%;
	height:40px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#moradores form input[type=button] {
	width:92%;
	height:35px;
	float:left;
	margin:4% 0 4% 4%;
	border:none;
	background-color:#5cb4a6;
	background-image:url(../img/checked.png);
	background-size:10%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:5px;
}

#moradores form #contato_morador_abre {
	width:20px;
	height:20px;
	float:right;
	background-image:url(../img/expandir2.png);
	background-size:95%;
	background-repeat:no-repeat;
	margin:0 4% 0 0;
}

#moradores form #contato_morador_fecha {
	width:20px;
	height:20px;
	float:right;
	background-image:url(../img/retrair2.png);
	background-size:95%;
	background-repeat:no-repeat;
	margin:0 4% 0 0;
	display:none;
}

#moradores form #contato_morador_box {
	width:90%;
	float:left;
	margin:4% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	background-color:#F5F5F5;
}

#moradores form #contato_morador {
	width:100%;
	float:left;
	margin:0;
	display:none;
}

/********************************COMUNICADOS************************************************/
#comunicados {
/*	display:block;
*/	background-color:#F5F5F5;
}

#comunicados .comunicado {
	width:97%;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#comunicados .comunicado .topo_comunicado {
	width:100%;
    height: 60px;
	float:left;
	margin:0;
}

#comunicados .comunicado .topo_comunicado .morador_foto {
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#comunicados .comunicado .topo_comunicado strong {
	width:70%;
	float:left;
	margin:0 0 0 2%;
	font-size:14px;
}

#comunicados .comunicado .topo_comunicado .grupo {
	float:left;
	margin:0 0 0 2%;
	background-color:#3750a2;
	font-size:9px;
	padding:3px 4px 2px 4px;
	text-align:center;
	color:#FFF;
	border-radius:5px;
}

#comunicados .comunicado .topo_comunicado span {
	width:60%;
	float:left;
	margin:2% 0 0 2%;
	color:#53c7ec;
	font-size:12px;
}

#comunicados .comunicado .topo_comunicado img {
	width:15px;
	float:right;
	margin:2% 2% 0 0;
}

#comunicados .comunicado .comunicado_titulo {
	width:96%;
	float:left;
	margin:2% 0 0 2%;
	font-size:14px;
	color:#53c7ec;
}

#comunicados .comunicado p {
	width:96%;
	float:left;
	margin:1% 0 1% 2%;
	font-size:12px;
    overflow:hidden !important;
}

#comunicados .comunicado a {
	width:96%;
	float:left;
	margin:1% 0 1% 2%;
	font-size:14px;
}

#comunicados .comunicado .anexo {
	width:96%;
	height:60px;
	float:left;
	margin:1% 0 1% 2%;
	font-size:14px;
}

#comunicados .comunicado .anexo .anexo_img {
	width:50px;
	height:50px;
	float:left;
	margin:5px 0 0 0;
	background-image:url(../img/img.png);
	background-size:90%;
	background-repeat:no-repeat;
	background-color:#53c7ec;
	border-radius:50%;
	background-position:center center;
}

#comunicados .comunicado .anexo h1 {
	width:60%;
	float:left;
	margin:5% 0 0 2%;
	font-size:14px;
}

#comunicados .comunicado .anexo h2 {
	width:60%;
	float:left;
	margin:0.5% 0 0 2%;
	font-size:12px;
}

#comunicados .comunicado .anexo a {
	width:50px;
	height:50px;
	float:right;
	margin:-25px 0 0 0;
	background-image:url(../img/download.png);
	background-size:90%;
	background-repeat:no-repeat;
	background-position:center center;
}

#comunicados2 {
/*	display:block;
*/	background-color:#FFF;
}

#comunicados2 .comunicado {
	width:90%;
	float:left;
	margin:5% 0 0 5%;
	border-radius:5px;
	background-color:#FFF;
}

#comunicados2 .comunicado .topo_comunicado {
	width:100%;
	float:left;
	margin:0;
}

#comunicados2 .comunicado .topo_comunicado .morador_foto {
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#comunicados2 .comunicado .topo_comunicado strong {
	width:70%;
	float:left;
	margin:0 0 0 4%;
	font-size:14px;
}

#comunicados2 .comunicado .topo_comunicado .grupo {
	float:left;
	margin:0 0 0 4%;
	background-color:#3750a2;
	font-size:9px;
	padding:3px 4px 2px 4px;
	text-align:center;
	color:#FFF;
	border-radius:5px;
}

#comunicados2 .comunicado .topo_comunicado span {
	width:70%;
	float:left;
	margin:2% 0 0 4%;
	color:#53c7ec;
	font-size:12px;
}

#comunicados2 .comunicado .comunicado_titulo {
	width:96%;
	float:left;
	margin:5% 0 0 2%;
	font-size:22px;
	color:#53c7ec;
}

#comunicados2 .comunicado #txt_comunicado {
	width:96%;
	float:left;
	margin:5% 0 1% 2%;
	font-size:12px;
}

#comunicados2 .comunicado a {
	width:96%;
	float:left;
	margin:5% 0 1% 2%;
	font-size:18px;
}

#comunicados2 .comunicado a img {
	width:20px;
	float:left;
	margin:0;
}

#comunicados2 .comunicado #anexos_comunicado {
    width: 100%;
    float: left;
    margin: 0;
    display: none;
}

#comunicados2 .comunicado #anexos_comunicado .anexo {
	width:96%;
	height:60px;
	float:left;
	margin:1% 0 1% 2%;
	font-size:14px;
}

#comunicados2 .comunicado #anexos_comunicado .anexo .anexo_img {
	width:50px;
	height:50px;
	float:left;
	margin:5px 0 0 0;
	background-image:url(../img/img.png);
	background-size:90%;
	background-repeat:no-repeat;
	background-color:#53c7ec;
	border-radius:50%;
	background-position:center center;
}

#comunicados2 .comunicado #anexos_comunicado .anexo h1 {
	width:60%;
	float:left;
	margin:5% 0 0 2%;
	font-size:14px;
}

#comunicados2 .comunicado #anexos_comunicado .anexo h2 {
	width:60%;
	float:left;
	margin:0.5% 0 0 2%;
	font-size:12px;
}

#comunicados2 .comunicado #anexos_comunicado .anexo a {
	width:50px;
	height:50px;
	float:right;
	margin:-25px 0 0 0;
	background-image:url(../img/download.png);
	background-size:90%;
	background-repeat:no-repeat;
	background-position:center center;
}

#comunicados2 .comunicado #comentario_curtir {
    width: 50%;
    float: left;
    margin: 0;
}

#comunicados2 .comunicado #comentario_curtir #curtir {
    width: 50%;
    float: left;
    margin: 0;
}

#comunicados2 .comunicado #comentario_curtir #descurtir {
    width: 50%;
    float: left;
    margin: 0;
}

#comunicados2 .comunicado #comentario_curtir #ncurtida{
    width: 22px;
    height: 22px;
    float: left;
    margin: 0;
    background-color: #53c7ec;
    border-radius: 11px;
}

#comunicados2 .comunicado #comunicado_comentar {
    width: 50%;
    float: left;
    margin: 0;    
}

#comunicados2 .comunicado #comentario_comunicado {
    width: 100%;
    float: left;
    margin: 0;
    display: none;
}

#comunicados2 .comunicado #comentario_comunicado .comentario {
    width: 100%;
    float: left;
    margin: 0;
}

#comunicados2 .comunicado #comentario_comunicado .comentario .morador_foto {
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#comunicados2 .comunicado #comentario_comunicado .comentario .txt_comentario{
    width: 80%;
    float: left;
    margin: 2% 0 0 2%;
    background-color: aliceblue;
    border-radius: 5px;
}

#comunicados2 .comunicado #comentario_comunicado .comentario .txt_comentario .nome_comentario{
    color: violet;
}

#comunicados_comentario {
/*	display:block;
*/	background-color:#FFF;
}

#comunicados_comentario #comentario_comunicado {
    width: 100%;
    height: 80%;
    float: left;
    margin: 0;
    overflow: auto;
}

#comunicados_comentario #comentario_comunicado .comentario {
    width: 100%;
    float: left;
    margin: 0;
}

#comunicados_comentario #comentario_comunicado .comentario .morador_foto {
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#comunicados_comentario #comentario_comunicado .comentario .txt_comentario{
    width: 80%;
    float: left;
    margin: 2% 0 0 2%;
    background-color: aliceblue;
    border-radius: 5px;
}

#comunicados_comentario #comentario_comunicado .comentario .txt_comentario .nome_comentario{
    color: violet;
}


/********************************LIBERACAO**************************************************/
/*#liberacao {

	background-color:#FFF;
}

#liberacao .liberado {
	width:90%;
	height:75px;
	float:left;
	margin:1px 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	background-color:#F5F5F5;
}

#liberacao .liberado .liberado_foto{
	width:60px;
	height:60px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:2px solid #D6D6D6;
	background-color:#437efc;
}

#liberacao .liberado strong {
	width:70%;
	float:left;
	margin:6% 0 0 2%;
	font-size:18px;
}*/

#liberacao .liberado span {
	width:70%;
	float:left;
	margin:0 0 0 2%;
	font-size:12px;
}

#liberacao2 {
	display:none;
	background-color:#FFF;
}

#liberacao2 form label {
	width:92%;
	float:left;
	margin:2% 0 0 4%;
	padding:1%;
}

#liberacao2 form input[type=text] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#liberacao2 form input[type=date] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
	background-color:#FFF;
}

#liberacao2 form input[type=time] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
	background-color:#FFF;
}

#liberacao2 form input[type=button] {
	width:42.5%;
	height:35px;
	float:left;
	margin:10% 0 4% 4%;
	border:none;
	background-color:#5cb4a6;
	background-size:15%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:5px;
}

/********************************VISITANTE**************************************************/
#visitantes {
/*	display:block; */
	background-color:#FFF;
}

#visitantes #busca_visitate {
	width:100%;
	height:10%;
	float:left;
	margin:0;
}

#visitantes #busca_visitate input[type=search] {
	width:90%;
	height:30px;
	float:left;
	margin:4% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#visitantes .scroll {
	height:80%;
}

#visitantes .visitante {
	width:90%;
	height:75px;
	float:left;
	margin:1px 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	background-color:#F5F5F5;
}

#visitantes .visitante .liberado_foto{
	width:60px;
	height:60px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:2px solid #D6D6D6;
	background-color:#437efc;
}

#visitantes .visitante strong {
	width:70%;
	float:left;
	margin:6% 0 0 2%;
	font-size:18px;
}

#visitantes .visitante span {
	width:70%;
	float:left;
	margin:0 0 0 2%;
	font-size:12px;
}
#visitante {
	display:none; 
	background-color:#FFF;
}

#visitante form label {
	width:92%;
	float:left;
	margin:2% 0 0 4%;
	padding:1%;
}

#visitante form input[type=text] {
	width:89%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#visitante form textarea {
	width:89%;
	height:40px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#visitante form input[type=button] {
	width:42.5%;
	height:35px;
	float:left;
	margin:10% 0 4% 4%;
	border:none;
	background-color:#5cb4a6;
	background-size:15%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:5px;
}

.qrcode .qrcodeCanvas{
    display: table;
    margin: auto;
}

/********************************RESERVAS***************************************************/
#reservas {
	background-color:#F5F5F5;
/*	display:block;
*/}

#reservas .area {
	width:90%;
	height:50px;
	float:left;
	margin:2% 0 0 4%;
	border-radius:5px;
	background-color:#FFF;
}

#reservas .area strong{
	width:100%;
	float:left;
	margin:13px 0 0 0;
	text-align:center;
}

#area {
	background-color:#FFF;
}

#area .cale2_titulo {
	width:100%;
	height:10%;
	display:table;
	margin:auto;
	background-color:#FFF;
	font-size:22px;
	display:none;
}

#area .cale2_titulo .cale2_last {
	width:10%;
	height:90%;
	float:left;
	margin:5% 0 0 5%;
	text-align:center;
}

#area .cale2_titulo .cale2_title {
	width:70%;
	height:90%;
	float:left;
	margin:5% 0 0 0;
	text-align:center;
}

#area .cale2_titulo .cale2_next {
	width:10%;
	height:90%;
	float:right;
	margin:5% 5% 0 0;
	text-align:center;
}

#area .area_legendas {
	width:96%;
	height:10%;
	float:left;
	margin:0 0 0 2%;
}

#area .area_legenda {
	width:22%;
	height:34px;
	float:left;
	margin:0 0 0 2%;
	text-align:center;
	font-size:12px;
	border-radius:5px;
	padding-top:5px;
	color:#FFF;
}

#area .horas {
	width:100%;
	height:77%;
	float:left;
	margin:0;
	overflow:auto;
}

#area .horas .horas_colunas {
	width:30%;
	float:left;
	margin:2.5% 0 0 2.1%;
	border:1px solid #666;
}

#area .horas .horas_colunas .hora{
	width:100%;
	height:25px;
	float:left;
	margin:0;
	border-top:1px solid #666;
	text-align:center;
	font-size:11px;
	background-color:#ee5569;
	color:#FFF;
}

#area .horas .horas_colunas .horal{
	width:100%;
	height:25px;
	float:left;
	margin:0;
	border-top:1px solid #666;
	text-align:center;
	font-size:11px;
	background-color:#a1cf77;
}

#reserva form .caixa {
	width:100%;
	float:left;
	margin:0;
}

#reserva form label {
	width:40%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	padding:1%;
}

#reserva form span {
	width:40%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	padding:1%;
}

#reserva form input[type=text] {
	width:40%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
}

#reserva form input[type=checkbox] {
	float:left;
	margin:2% 0 0 4%;
}

#reserva form input[type=time] {
	width:40%;
	height:20px;
	float:left;
	margin:1% 0 0 4%;
	border:1px solid #666;
	border-radius:5px;
	padding:1%;
	background-color:#FFF;
}

#reserva form input[type=button] {
	width:42.5%;
	height:35px;
	float:left;
	margin:10% 0 4% 4%;
	border:none;
	background-color:#5cb4a6;
	background-size:15%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:5px;
}

/********************************ENTREGAS************************************************/
#entregas {
	background-color:#F5F5F5;
}

#entregas .entrega {
	width:97%;
	height:80px;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#entregas .entrega .entrega_foto{
	width:60px;
	height:60px;
	float:left;
	margin:10px 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center center;
	border:2px solid #D6D6D6;
	background-color:#5cb4a6;
}

#entregas .entrega strong {
	width:70%;
	float:left;
	margin:6% 0 0 2%;
}

#entregas .entrega span {
	width:70%;
	float:left;
	margin:0 0 0 2%;
}

/********************************ENQUETES************************************************/
#enquetes {
/*	display:block;
*/	background-color:#F5F5F5;
}

#enquetes .enquete {
	width:97%;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#enquetes .enquete .enquete_foto_morador{
	width:50px;
	height:50px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:1.2px solid #D6D6D6;
	background-color:#FBFBFB;
}

#enquetes .enquete .enquete_morador{
	width:70%;
	float:left;
	margin:3% 0 0 2%;
	font-size:14px;
}

#enquetes .enquete img {
	width:15px;
	float:right;
	margin:2% 2% 0 0;
}


#enquetes .enquete .grupo {
	float:left;
	margin:1% 0 0 2%;
	background-color:#3750a2;
	font-size:9px;
	padding:3px 4px 2px 4px;
	text-align:center;
	color:#FFF;
	border-radius:5px;
}


#enquetes .enquete .enquete_titulo { 
	width:100%;
	float:left;
	margin:2% 0 0 2%;
}

#enquetes .enquete .enquete_votos { 
	width:100%;
	float:left;
	margin:2% 0 0 2%;
	font-size:14px;
	color:#4167b2;
}

#enquetes .enquete .enquete_periodo { 
	width:100%;
	float:left;
	margin:2% 0 2% 2%;
	font-size:14px;
}

#enquete {
/*	display:block;
*/	background-color:#FFF;
}

#enquete .enquete_foto_morador{
	width:60px;
	height:60px;
	float:left;
	margin:2% 0 0 2%;
	border-radius:50%;
	background-image:url(../img/user2.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	border:2px solid #D6D6D6;
	background-color:#FFF;
}

#enquete .enquete_morador{
	width:70%;
	float:left;
	margin:4% 0 0 2%;
}

#enquete .lock {
	width:15px;
	float:right;
	margin:2% 2% 0 0;
}

#enquete .grupo {
	float:left;
	margin:2% 0 0 2%;
	background-color:#3750a2;
	font-size:9px;
	padding:3px 4px 2px 4px;
	text-align:center;
	color:#FFF;
	border-radius:5px;
}

#enquete .enquete_titulo{
	width:96%;
	float:left;
	margin:4% 0 0 4%;
}

#enquete .enquete_subtitulo{
	width:96%;
	float:left;
	margin:2% 0 0 4%;
	font-size:14px;
	color:#999;
}

#enquete .enquete_periodo{
	width:92%;
	float:left;
	margin:2% 0 0 4%;
	font-size:12px;
	color:#5cb4a6;
}

#enquete .enquete_votos {
	width:30%;
	float:left;
	margin:4% 0 0 35%;
	margin-top:6%;
	font-size:16px;
	background-color:#ee5569;
	color:#FFF;
	padding:5px;
	text-align:center;
	border-radius:50px;
}

#enquete form { 
	width:96%;
	float:left;
	margin:2% 0 0 2%;
}

#enquete form input[type=radio] {
	width:15px;
	height:15px;
	float:left;
	margin:3% 0 0 2%;
}

#enquete form label {
	width:90%;
	float:left;
	margin:2% 0 0 2%;
}

#enquete form input[type=button] {
	width:40%;
	height:35px;
	float:left;
	margin:6% 0 0 30%;
	border:none;
	background-color:#5cb4a6;
	background-image:url(../img/checked.png);
	background-size:20%;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:10px;
}

#enquete .enquete_barra_voto {
	width:90%;
	float:left;
	margin:2% 0 0 5%;
}

#enquete .enquete_barra_voto2 {
	width:90%;
	height:18px;
	float:left;
	margin:2% 0 0 5%;
	border-radius:5px;
	border:1px solid #369;
}

#enquete .enquete_barra_voto3 {
	height:20px;
	float:left;
	margin:-1px 0 0 -1px;
	border-radius:5px 0 0 5px;
	background-color:#369;
}

#enquete .enquete_barra_voto4 {
	float:left;
	margin:0 0 0 5%;
	font-size:14px;
	color:#999;
}

/********************************DOCUMENTOS************************************************/
#documentos {
	background-color:#F5F5F5;
}

#documentos .documento {
	width:97%;
	height:80px;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#documentos .documento .documento_foto{
	width:40px;
	height:40px;
	float:left;
	margin:20px 0 0 2%;
	border-radius:50%;
	background-repeat:no-repeat;
	background-size:70%;
	background-position:center center;
}

#documentos .documento strong {
	width:69%;
	float:left;
	margin:6% 0 0 2%;
}

#documentos .documento span {
	width:69%;
	float:left;
	margin:0 0 0 2%;
	font-size:12px;
}

#documentos .documento a {
	width:40px;
	height:40px;
	float:right;
	margin:-20px 2% 0 0;
	background-repeat:no-repeat;
	background-size:70%;
	background-position:center center;
	background-image:url(../img/download.png);
}

/********************************DOCUMENTOS************************************************/
#relatorios {
	background-color:#F5F5F5;
}

#relatorios .relatorio {
	width:97%;
	height:80px;
	float:left;
	margin:1.5% 0 0 1.5%;
	border-radius:5px;
	background-color:#FFF;
}

#relatorios .relatorio strong {
	width:100%;
	float:left;
	margin:9% 0 0 2%;
	text-align:center;
}